---------------------------------- */

.section-third {
  max-width: 100%;
  height: 70rem;
  background: var(--background-color);
  padding: 3rem 20rem;
  max-width: 100%;
}

.section-third h2 {
  font-size: 5.5rem;
  margin-bottom: 1rem;
  margin-top: 3rem;
  text-align: center;
}

.section-third p {
  max-width: 40rem;
  height: 9rem;
  margin-bottom: 3rem;
  text-align: center;
  margin: auto;
}

.section-third .section-third-task {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 4rem;
}

.section-third .section-third-task .task-1,
.section-third .section-third-task .task-2,
.section-third .section-third-task .task-3 {
    background: #fff;
    box-shadow: 0rem 0.4rem 2rem rgba(35, 52, 53, 0.25);
  padding-top: 2rem;
  /* background: cornsilk; */
  text-align: center;
  transition: all 0.3s linear;
  border-radius: 2rem;
}

.section-third .section-third-task .task-1 h3,
.section-third .section-third-task .task-2 h3,
.section-third .section-third-task .task-3 h3 {
  font-size: 2.5rem;
  text-transform: capitalize;
  margin-top: 2rem;
}

.section-third .section-third-task .task-1 img,
.section-third .section-third-task .task-2 img,
.section-third .section-third-task .task-3 img {
  max-width: 15rem;
  height: 15rem;
  transition: all 0.3s;
}

.section-third .section-third-task .task-1 img,
.section-third .section-third-task .task-2 img {
  height: 16rem;
}

.section-third .section-third-task .task-3 {
  background: #fff;
  box-shadow: 0rem 0.4rem 2rem rgba(35, 52, 53, 0.25);
}

.section-third .section-third-task .task-1:hover,
.section-third .section-third-task .task-2:hover {
  background: #fff;
  box-shadow: 0rem 0.4rem 2rem rgba(35, 52, 53, 0.25);
}


.section-third p{
  font-size: 1.7rem;
}

/* 
.task-3:hover{
    background-image: url("/home/alok/Desktop/Ecell/frontend/public/images/rocket.gif");
} */