.about-container .about{
    max-width: 80%;
    margin: auto;
}

.main-nav{
    z-index: 4;
}

.about-container .about h1{
    font-size: 4rem;
}
.about-container .about .newP{
    font-size: 2rem;
}

.card-container{
    display: flex;
    margin: 10rem;
    align-items: center;
    z-index: -1;
}

.vertical-container p{
    font-size: 1.6rem;
}

.minCardo{
    max-width: 350px;
    height: 520px;
    /* height: fit-content; */
    margin: auto;
    padding: 0;
    border-radius: 5px;
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 2rem #dddcdc;
    box-shadow: 1px 1px 2rem #dddcdc;
    display: flex;
    flex-direction: column;    

}
.minCardo p{
    align-items: center;
    padding: 2rem;
    font-size: 1rem;
}

.minCardo h2{
    font-size: 2.4rem;
    margin: auto;
}

.minCardo img{
    margin:auto;
    max-width: 12rem;
    padding: 2rem;
}

.large-card-conatainer{
    display: flex;
    margin: 5rem;
    flex-direction: column;

}

.large-card-conatainer .row{
    margin: 2rem;
    display: flex;
}

.large-card-conatainer .row .largeCard{
    max-width: 620px;
    min-width: 350px;
    height: fit-content;
    margin: auto;
    text-align: center;
    padding: 0;
    border-radius: 5px;
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 2rem #dddcdc;
    box-shadow: 1px 1px 2rem #dddcdc;
    margin-left: 5rem;
    display: block;
    align-items: center;
    
}

.row .largeCard img{
    max-width: 300px;
    /* align-self: center; */
    margin: 2.5rem;
}

.text-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.text-container h2{
    font-size: 2.3rem;
}

.text-container ul li{
    padding: 10px;
    font-size: 1.2rem;
    list-style: disc;
}
@media screen and (max-width: 1480px) {
    *{
        margin: 0;
    }
    
    .main-nav {
      display:none;
    }

    .card-container{
        display: block;
    }
    .minCardo{
        margin: 4rem;
        text-align: center;
        display: block;
        overflow: auto;
        width: 400px;
    }
    .minCardo p{
        font-size: 1rem;
    }

    .about-container{
        text-align: center;
    }
    footer{
        display: none;
    }
  }